a, abbr, acronym, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, object, ol, p, pre, q, s, samp, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, u, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
.bg-main {
    background-color: #e9ecf1;
}
*{
    font-family: Noto Sans KR,sans-serif,AppleSDGothicNeo-Regular,Malgun Gothic,Dotum;
}
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 100;
}
.header{
    min-width: auto;
    max-width: 1400px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color : white;
    margin: 0 auto;
}

.bg-color{
    overflow: visible;
    background: none;
    background-color: #093687;
}
.bg-white{
    background-color: white;
}
.main-wrapper{
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding-top: 72px;
}

.left-wrapper{
    float: left;
    width: 900px;
}
.right-wrapper{
    float: left;
    height: calc(100vh - 95px);
    width: 400px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
/* .right-wrapper .table-tbody{
    overflow: auto;
    height: calc(100vh - 160px);
}

.right-wrapper .table-tbody tr.active{
    color : red;
    font-weight: bold;
} */

.highlight-table tr.up td{
    color : #d60000;
}
/* .highlight-table tr.up td:nth-child(2),
.highlight-table tr.up td:nth-child(3){
    color : #d60000;
} */
.highlight-table tr.down td{
    color : #0051c7;
}
/* .highlight-table tr.down td:nth-child(2),
.highlight-table tr.down td:nth-child(3){
    color : #0051c7;
} */
.right-wrapper .table-tbody{
    height: calc(100vh - 160px);
    overflow: auto;
}
.highlight-table tbody tr td strong{
    word-break: break-all;
    display: block;
    margin: 2px 0 3px;
    line-height: 1em;
    font-weight: 700;
    max-width: 100px;
}
.highlight-table tbody tr td em{
    display: block;
    color: #666;
    font-size: 11px;
    letter-spacing: .05em;
}
